<div>
  <div style="margin-bottom: 20px;">


    <button class="btn btn-primary" (click)="sendpay()">Procesar pago</button>



  </div>
  <div>
    <a data-toggle="modal" data-target="#exampleModal" style="cursor: pointer; font-size: 12px; color: #0a0ac2;">
      Ver todos establecimientos
    </a>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel" style="font-size: 22px;">Establecimientos participantes</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img class="imgcardlogo" src='../../../assets/images/cash/7eleven.png' alt='cardlogo'>
            <img class="imgcardlogo" src='../../../assets/images/cash/asturiano.png' alt='cardlogo'>
            <img class="imgcardlogo" src='../../../assets/images/cash/atiendas.png' alt='cardlogo'>


            <img class="imgcardlogo" src='../../../assets/images/cash/bodega.png' alt='cardlogo'>
            <img class="imgcardlogo" src='../../../assets/images/cash/cliclek.png' alt='cardlogo'>
            <img class="imgcardlogo" src='../../../assets/images/cash/extra.png' alt='cardlogo'>

            <img class="imgcardlogo" src='../../../assets/images/cash/famahorro.png' alt='cardlogo'>
            <img class="imgcardlogo" src='../../../assets/images/cash/farmguada.png' alt='cardlogo'>
            <img class="imgcardlogo" src='../../../assets/images/cash/gespago.png' alt='cardlogo'>

            <img class="imgcardlogo" src='../../../assets/images/cash/k.png' alt='cardlogo'>
            <img class="imgcardlogo" src='../../../assets/images/cash/kiosko.png' alt='cardlogo'>
            <img class="imgcardlogo" src='../../../assets/images/cash/mirecargas.png' alt='cardlogo'>

            <img class="imgcardlogo" src='../../../assets/images/cash/pagorapido.png' alt='cardlogo'>
            <img class="imgcardlogo" src='../../../assets/images/cash/sams.png' alt='cardlogo'>
            <img class="imgcardlogo" src='../../../assets/images/cash/waldos.png' alt='cardlogo'>

            <img class="imgcardlogo" src='../../../assets/images/cash/Walmart.png' alt='cardlogo'>
            <img class="imgcardlogo" src='../../../assets/images/cash/walmatw.png' alt='cardlogo'>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>