<div>
  <div>
    <div class="form-group">
      <label for="cardnumber">Numero de tarjeta</label>
      <input class="form-control" id="cardnumber" type="tel" inputmode="numeric" pattern="[0-9\s]{13,19}"
        autocomplete="cc-number" maxlength="16" placeholder="xxxx xxxx xxxx xxxx" (keyup)="onTypeNumber($event)">
    </div>
    <div class="form-group">
      <label for="nameuser">Nombre completo (como aparece en la tarjeta)</label>
      <input type="text" class="form-control" id="nameuser" placeholder="Adriana Maldonado Salazar" (keyup)="onTypeName($event)">
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label for="monthexpired">Mes de expiración</label>
          <input type="tel" class="form-control" id="monthexpired" maxlength="2" placeholder="05" (keyup)="onTypeExpirationMonth($event)">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="yearexpired">Año de expiración</label>
          <input type="tel" class="form-control" id="yearexpired" maxlength="2" placeholder="27" (keyup)="onTypeExpirationYear($event)">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="yearexpired">CCV</label>
          <input class="form-control" type="password" pattern="\d*" maxlength="3" placeholder="CVC" (keyup)="onTypeCCV($event)">
        </div>
      </div>
    </div>

    <button class="btn btn-primary" (click)="sendpay()">Procesar pago</button>


    
  </div>
  
</div>