<div>
  <div>
    <div class="form-group">
      <label for="yearexpired">Email escolar</label>
      <input type="email" class="form-control" id="emailTyped" placeholder="janeth@email.com"
        (keyup)="onTypeEmail($event)" value="{{ generalInfo.email }}" id="cardform">
        <label *ngIf="chickedSend && errorEmail" class="label-error">Email incorrecto</label>
    </div>
    <div class="form-group">
      
      <label for="cardnumber">Numero de tarjeta</label>
      <input class="form-control" id="cardnumber" name="cardnumber" type="tel" inputmode="numeric"
        pattern="[0-9\s]{13,19}" autocomplete="cc-number" maxlength="16" placeholder="xxxx xxxx xxxx xxxx"
        (keyup)="onTypeNumber($event)" required>

      <label *ngIf="chickedSend && !card_number" class="label-error">Este campo es requerido</label>
    </div>
    <div class="form-group">
      <label for="nameuser">Nombre completo (como aparece en la tarjeta)</label>
      <input type="text" class="form-control" id="nameuser" placeholder="Adriana Maldonado Salazar"
        (keyup)="onTypeName($event)">
      <label *ngIf="chickedSend && !holder_name" class="label-error">Este campo es requerido</label>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label for="monthexpired">Mes de expiración</label>
          <input type="tel" class="form-control" id="monthexpired" maxlength="2" placeholder="05"
            (keyup)="onTypeExpirationMonth($event)">
          <label *ngIf="chickedSend && !expiration_month" class="label-error">Este campo es requerido</label>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="yearexpired">Año de expiración</label>
          <input type="tel" class="form-control" id="yearexpired" maxlength="2" placeholder="27"
            (keyup)="onTypeExpirationYear($event)">
          <label *ngIf="chickedSend && !expiration_year" class="label-error">Este campo es requerido</label>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="yearexpired">CVV</label>
          <input class="form-control" type="password" pattern="\d*" maxlength="3" placeholder="234"
            (keyup)="onTypeCCV($event)">
          <label *ngIf="chickedSend && !cvv2" class="label-error">Este campo es requerido</label>
        </div>
      </div>
    </div>

    <button class="btn btn-primary" (click)="sendpay()">Procesar pago</button>



  </div>

</div>