<div>
  <div style="margin-bottom: 20px;">

    <div class="form-group">
      <label for="yearexpired">Email escolar</label>
      <input type="email" class="form-control" id="emailTyped" placeholder="janeth@email.com"
        (keyup)="onTypeEmail($event)" value="{{ generalInfo.email }}" id="cardform">
        <label *ngIf="chickedSend && errorEmail" class="label-error">Email incorrecto</label>
    </div>
    <button class="btn btn-primary" (click)="sendpay()">Obtener información de pago</button>



  </div>
  <div>
  </div>

</div>